<div class="container">
    <p style="color: green"><%= notice %></p>
    <h1>Tasks</h1>
    <%= link_to "New task", new_user_role_team_task_path %>

    <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
        <th scope="col"></th>
        <th scope="col"> <strong>Name</strong></th>
        <th scope="col"> <strong>Grade</strong></th>
        <th scope="col"></th>
        <tr>
      </thead>
      <% @team.tasks.each do |task| %>
      <tbody>
        <th scope="row">
        <td>
          <%=task.name%>
        </td>
        <td>
          <%= task.description%>
        </td>
      </th>
        <th scope="row">
          <%= link_to "Show task", @task %>
        </th>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--%= render 'show'%-->