<%= form_with(model: user, url: user_index_path )do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :"IP Address", class: "form-label" %>
    <%= form.text_field :ip, class: "form-control form-control-lg" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :Username , class: "form-label"%>
    <%= form.text_field :username, class: "form-control form-control-lg"%>
  </div><br>
  <div class="form-group" >
    <%= form.submit class: "btn btn-primary btn-lg"%>
  </div>
<% end %>